::-webkit-scrollbar {
  width: 2px;
  height:4px;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1e900; 
}